<h1>Name:
  <%= @station.name %></h1>
<p>Address:
  <%= @station.address %></p>
<p>Fuel Type:
  <%= @station.fuel_type %></p>
<p>Access Times:
  <%= @station.access_times %></p>

<hr>

<p>Distance:
  <%= @directions.distance %></p>
<p>Travel Time:
  <%= @directions.travel_time %></p>
<p>Driving Instructions:
  <%= @directions.directions %></p>